* {
  box-sizing: border-box;
}
:root {
  --font-color: #1f2937;
}

.header__logo {
  margin-top: 60px;
  margin-bottom: 40px;
  width: 396px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup {
  display: flex;
  flex-direction: column;
  width: 640px;
}

.signup p {
  font-weight: 700;
  font-size: 18px;
  color: var(--font-color);
}
.signup__email,
.signup__name,
.signup__pw {
  padding: 15px 10px;
  width: 100%;
  margin: 5px;
  background-color: #f3f4f6;
  border: 1px solid transparent;
  border-radius: 12px;
  font-size: 14px;
}
.signup__btn {
  background-color: #9ca3af;
  padding: 16px 24px;
  border: 0px;
  border-radius: 40px;
  margin-top: 10px;
  color: #ffffff;
}
.signup__email:focus,
.signup__pw:focus,
.signup__name:focus {
  border: 1px solid #3692ff;
}
.signup__login {
  background-color: #e6f2ff;
  width: 100%;
  height: 74px;
  padding: 20px 20px;
  margin: 20px 0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  color: var(--font-color);
  font-size: 16px;
}

.signup__login div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.signup__login img {
  width: 29px;
}
.signup__bottom {
  text-align: center;
}
.signup__bottom a {
  color: #3182f6;
  font-weight: 500;
}

@media (min-width: 375px) and (max-width: 767px) {
  .signup {
    width: 100%;
  }
  .header__logo {
    width: 198px;
  }
  .signup-form {
    margin: 0 16px;
    max-width: 400px;
    margin: 0 auto;
  }
}
